<!doctype html>
<?php require_once($_SERVER['DOCUMENT_ROOT'] . "/couch/cms.php"); ?>
<html>
<head>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  <!-- Use title if it's in the page YAML frontmatter -->
  <title><%= current_page.data.title || "Middleman" %></title>

  <%= stylesheet_link_tag "flexboxgrid.min", "lightbox", "../fonts/font", :site %>
  <%= javascript_include_tag  :all %>

</head>

<body class="<%= page_classes %><%= current_page.data.menu_hover ? ' menu-hover' : '' %> ">
    <%= partial "header" %>

    <%= yield %>

    <%= partial "footer" %>
    </div>
  </body>
  </html>
  <?php COUCH::invoke(); ?>

