<nav class="navbar">
  <div>
    <i class="fa fa-bars hamburger" aria-hidden="true"></i>
  </div>

  <div class="logo-mobile">
    <a href="/"></a>
  </div>

  <div class="row middle-xs between-xs end-xs nav-inner mobile-menu clearfix">
    <div class="col-xs logo">
      <a href="/"></a>
    </div>

    <div class="col-md-9 navigation-links">
      <ul>
        <li class="home-link"><%= link_to 'Home', '/' %></li>
        <li><%= link_to 'Our Work', '../our-work.php' %></li>
        <li><%= link_to 'The Veda Way', '../the-veda-way.php' %></li>
        <li><%= link_to 'Our Team', '../the-veda-team.php' %></li>
        <li><%= link_to 'Contact', '#contact' %></li>
      </ul>
    </div>
  </div>
</nav>
