---
title: Home
menu_hover: true
---

<div class="hero">
  <div class="hero-bg-container">
  <cms:pages masterpage='featured-case-study/index.php'>
    <div id="<cms:show k_page_name />" class="hero-background override-transition" style="background:url('<cms:show hero_image/>') center center/cover no-repeat"></div>
  </cms:pages>
</div>
  <div class="container fill-height hero-text">
    <div class="row fill-height middle-xs">
      <div class="col-md-12 hero-text">
        <h1>Connecting the dots between science, policy &amp; people.</h1>
        <a href="/our-work/" class="hero-link"><span>See what we've been up to</span><i class="icon-right-arrow"><%= image_tag "arrow-see-more.svg" %></i></a>
      </div>
    </div>
  </div>
</div>

<div class="case-study-featured">
<div class="container">
  <div class="row middle-sm">
    <div class="col-md-6">
      <ul class="row middle-sm indicator-list">
        <li><p>FEATURED PROJECTS</p></li>
        <li class="item"><a href="#" class="indicator active"></a></li>
        <li class="item"><a href="#" class="indicator"></a></li>
        <li class="item"><a href="#" class="indicator"></a></li>
      </ul>
      <cms:pages masterpage='featured-case-study/index.php' >
        <div class="case-study-details">
          <h2 class="featured-project-title">
            <cms:show project_title />
          </h2>
          <p class="title-description">
            <cms:show project_description />
          </p>
          <a class="btn btn-primary" href="/featured-case-study/<cms:show k_page_name />.html">See Case Study</a>

        </div>
      </cms:pages>
    </div>

    <div class="col-md-6 case-study-image-container">
      <cms:pages masterpage='featured-case-study/index.php' >
        <span class="featured-case-study-image">
          <img src="<cms:show carousel_image />"  />
        </span>
      </cms:pages>
    </div>
  </div>
</div>
</div>

<div class="how-we-work">
  <div class="container">
    <div class="row center-sm middle-sm">
      <div class="col-md-10">
        <h2 class="title">How We Work</h2>
        <p>Over the years we’ve done this sort of thing enough to see a method to our madness. We’ve indentified four steps to solving the kinds of problems we solve.</p>
        <%= image_tag "how-we-work.svg" %>
        <div class="row center-sm">
          <div class="col-md-2">
            <a href="/the-veda-way/" class="btn btn-primary">The Veda Way</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row social-status">
  <div class="container col-md-10">
    <div class="social-title">
      <h3>Social Status</h1>
      <p>The latest from our Instagram feed</p>
    </div>
      <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/fadf5d4408985a8abd8b394ee2783a7a.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
  </div>
</div>

  <div class="client-list">
    <div class="container">
      <div class="row center-sm">
        <div class="col-md-12 client-grid">
          <h1 class="title">Some of our Happy clients</h1>
          <a href="" class="client-list-link">See See Full Client List</a>
          <div class="row between-md">
            <div class="col-md-3"><%= image_tag "department-of-ecology.png" %></div>
            <div class="col-md-3"><%= image_tag "epa.png" %></div>
            <div class="col-md-3"><%= image_tag "state-of-oregon.png" %></div>
            <div class="col-md-3"><%= image_tag "western-university.png" %></div>
          </div>
          <div class="row around-md">
            <div class="col-md-3"><%= image_tag "california-wildlife.png" %></div>
            <div class="col-md-3"><%= image_tag "port-of-seattle.png" %></div>
            <div class="col-md-3"><%= image_tag "oil-spill-taskforce.png" %></div>
            <div class="col-md-3"><%= image_tag "city-of-bellingham.png" %></div>
          </div>
          <div class="row between-md">
            <div class="col-md-3"><%= image_tag "university-of-washington.png" %></div>
            <div class="col-md-3"><%= image_tag "northwest-straits.png" %></div>
            <div class="col-md-3"><%= image_tag "city-of-seattle.png" %></div>
            <div class="col-md-3"><%= image_tag "washington-state-university.png" %></div>
          </div>
        </div>
      </div>
    </div>
  <div class="container">
    <div class="row center-sm veda-quote blockquote-container">

      <div class="col-md-10">
        <blockquote>One of the most informative public meetings I have ever attended... They did an excellent job.</blockquote>
      </div>

      <div class="row center-sm">
        <div class="col-md-8 author"><p class="author">- Robert Lee, Workshop Participant, Port Angeles</p></div>
      </div>

    </div>
</div>

</div>
