---
title: Veda Environmental
menu_hover: true
---

<div class="hero">
  <div class="hero-bg-container">
  <cms:pages masterpage='hero-carousel.php'>
    <div id="<cms:show k_page_name />" class="hero-background override-transition" style="background:url('<cms:show hero_image/>') center center/cover no-repeat"></div>
  </cms:pages>
</div>
  <div class="container fill-height hero-text">
    <div class="row fill-height middle-xs">
      <div class="col-md-12 col-sm-10 col-xs-12 hero-text">
        <h1>
          <cms:editable name='page_title' type='text'>
            Connecting the dots between science, policy &amp; people.
          </cms:editable>
        </h1>
        <a href="/our-work.php" class="hero-link">
        <span>
          <cms:editable name="page_subtitle">
            See what we've been up to
          </cms:editable>
          </span><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

</div>

<div class="case-study-featured">
<div class="container">
  <div class="row slider-row middle-sm center-xs">

    <div class="indicator-col col-md-6 ">
      <div class="row start-sm center-xs indicator-row">
        <div class="col-md-8 col-sm-6 col-xs-4">
          <ul class="row middle-sm indicator-list">
            <li><p>FEATURED PROJECTS</p></li>
            <li class="item"><a href="#" class="indicator active"></a></li>
            <li class="item"><a href="#" class="indicator"></a></li>
            <li class="item"><a href="#" class="indicator"></a></li>
          </ul>
        </div>
      </div>
      <cms:pages masterpage='featured-case-study.php' custom_field="visible=Visible" >
        <div class="case-study-details">
          <h2 class="featured-project-title">
            <cms:show project_title />
          </h2>
          <p class="title-description left">
            <cms:show project_description />
          </p>
          <a class="btn btn-primary" href="featured-case-study.php?pname=<cms:show k_page_name />">See the Case Study</a>

        </div>
      </cms:pages>
    </div>

    <div class="col-md-6 case-study-image-container">
      <cms:pages masterpage='featured-case-study.php' custom_field="visible=Visible">
        <div class="featured-case-study-image">
          <img src="<cms:show carousel_image />"  />
        </div>
      </cms:pages>
    </div>

    <div class="indicator-col-mobile col-md-6 ">
      <div class="row start-sm center-xs indicator-row">
        <div class="col-md-8 col-sm-12 col-xs-6">
          <ul class="row middle-sm indicator-list">
            <li><p>FEATURED PROJECTS</p></li>
            <li class="item"><a href="#" class="indicator active"></a></li>
            <li class="item"><a href="#" class="indicator"></a></li>
            <li class="item"><a href="#" class="indicator"></a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
</div>

<div class="how-we-work">
  <div class="container">
    <div class="row center-sm middle-sm">
      <div class="col-md-10 col-xs-12">
        <h2 class="title">
          <cms:editable name="how_we_work_title">
            How We Work
          </cms:editable>
        </h2>
      <p>
        <cms:editable name="how_we_work_paragraph" type="text">
          Over the years we’ve done this sort of thing enough to see a method to our madness. We’ve indentified four steps to solving the kinds of problems we solve.
        </cms:editable>
      </p>

        <div class="how-we-work-animation">
          <%= partial 'how_we_work' %>
        </div>

        <div class="row center-sm center-xs">
          <a href="/the-veda-way.php" class="btn btn-primary">The Veda Way</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row social-status">
  <div class="container col-md-10">
    <div class="social-title">
      <h2 class="title">
        <cms:editable name="social_status_title">
          Social Status
        </cms:editable>
      </h2>
        <p class="description">The latest from our <a href="https://www.instagram.com/vedaenvironmental/" class="underline">Instagram feed</a></p>
    </div>
      <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/fadf5d4408985a8abd8b394ee2783a7a.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 80%; border: 0; overflow: hidden;"></iframe>
  </div>
</div>

  <div class="client-list">
    <div class="container">
      <div class="row center-sm">
        <div class="col-md-12 client-grid">
          <h1 class="title">
            <cms:editable name="client_list_title">
              Some of our Happy Clients
            </cms:editable>
          </h1>

          <a href="/downloads/veda-clients.pdf" target="_blank" class="client-list-link">See Full Client List</a>
          <div class="row between-md">
            <div class="col-md-3 col-xs-6"><%= image_tag "department-of-ecology.png" %></div>
            <div class="col-md-3 col-xs-6"><%= image_tag "epa.png" %></div>
            <div class="col-md-3 col-xs-6"><%= image_tag "state-of-oregon.png" %></div>
            <div class="col-md-3 col-xs-6"><%= image_tag "western-university.png" %></div>
          </div>
          <div class="row around-md">
            <div class="col-md-3 col-xs-6"><%= image_tag "california-wildlife.png" %></div>
            <div class="col-md-3 col-xs-6"><%= image_tag "port-of-seattle.png" %></div>
            <div class="col-md-3 col-xs-6"><%= image_tag "oil-spill-taskforce.png" %></div>
            <div class="col-md-3 col-xs-6"><%= image_tag "city-of-bellingham.png" %></div>
          </div>
          <div class="row between-md">
            <div class="col-md-3 col-xs-6"><%= image_tag "university-of-washington.png" %></div>
            <div class="col-md-3 col-xs-6"><%= image_tag "northwest-straits.png" %></div>
            <div class="col-md-3 col-xs-6"><%= image_tag "city-of-seattle.png" %></div>
            <div class="col-md-3 col-xs-6"><%= image_tag "washington-state-university.png" %></div>
          </div>
        </div>
      </div>
    </div>
  <div class="container">
    <div class="row center-sm veda-quote blockquote-container">

      <div class="col-md-10 col-xs-12">
        <blockquote><cms:editable name="quote">One of the most informative public meetings I've ever attended... They did an excellent job.</cms:editable></blockquote>
      </div>

      <div class="row center-sm center-xs">
        <div class="col-md-8 col-sm-8 col-xs-10 author"><p class="author">
          - <cms:editable name="quote_author">
              Robert Lee, Workshop Participant, Port Angeles
            </cms:editable>
          </p></div>
      </div>

    </div>
</div>

</div>

<script>
var $caseStudy = $('.case-study-featured');
var $hero = $('.hero');

function isElementInViewport (el) {
  if (typeof jQuery === "function" && el instanceof jQuery) {
    el = el[0];
  }

  var rect = el.getBoundingClientRect();
  // console.log(rect);

  return (
    rect.bottom >= window.innerHeight - 150
  );
}

function onVisibilityChange(el, callback) {
    return function () {
      var old_visible = false;
      var visible = isElementInViewport(el);
      if (visible === old_visible){
        $('body').removeClass('menu-hover');

        $('.logo-mobile').css('top',  5 + "px" );
      }
      if (visible != old_visible) {
        old_visible = visible;
        if (typeof callback == 'function') {
          callback();
        }
      }
    }
}

var handler = onVisibilityChange( $hero , function() {
  /* your code go here */
  $('body').addClass('menu-hover');

  if($('body').hasClass('has-news-banner')) {

    var newsBannerHeight = parseInt($('.news-banner').css('height').replace('px', ''), 10)
      $('.logo-mobile').css('top', newsBannerHeight + 37 + "px" );
  }
});

//jQuery
$(window).on('DOMContentLoaded load resize scroll', handler);
</script>
