---
title: Home
menu_hover: true
---

<div class="hero">
  <div class="hero-background"></div>
  <div class="container fill-height hero-text">
    <div class="row fill-height middle-xs">
      <div class="col-md-12 hero-text">
        <h1>Connecting the dots between science, policy &amp; people.</h1>
        <a href="" class="hero-link"><span>See what we've been up to</span><i class="icon-right-arrow"><%= image_tag "arrow-see-more.svg" %></i></a>
      </div>
    </div>
  </div>
</div>
<div class="featured-case-study">
  <div>
    <div class="row middle-md center-xs between-xs">
      <div class="col-md-6">
        <ul class="row middle-sm slider-list">
          <li>FEATURED PROJECTS</li>
          <li class="item active"><a href="" class="indicator"></a></li>
          <li class="item"><a href="" class="indicator"></a></li>
          <li class="item"><a href="" class="indicator"></a></li>
        </ul>
        <h2 class="featured-project-title">Diminishing the Damage of Derelict Crab Pots</h2>
        <p class="description">Veda convened scientists, government regulators, pro- fessional, tribal & recreational fishermen, and citizens to work together to commit to action that is helping save the fishery and all that depend on it.</p>
        <a href="" class="btn btn-primary">See Case Study</a>
      </div>
      <div class="featured-case-study-image">
        <div class="slider-image"></div>
      </div>
    </div>
  </div>
</div>

<div class="how-we-work">
  <div class="container">
    <div class="row center-sm middle-sm">
      <div class="col-md-10">
        <h2 class="title">How We Work</h2>
        <p>Over the years we’ve done this sort of thing enough to see a method to our madness. We’ve indentified four steps to solving the kinds of problems we solve.</p>
        <%= image_tag "how-we-work.svg" %>
        <div class="row center-sm">
          <div class="col-md-2">
            <a href="" class="btn btn-primary">The Veda Way</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="client-list">
    <div class="container">
      <div class="row center-sm">
        <div class="col-md-12 client-grid">
          <h1 class="title">Some of our Happy clients</h1>
          <a href="" class="client-list-link">See See Full Client List</a>
          <div class="row between-md">
            <div class="col-md-3"><%= image_tag "department-of-ecology.png" %></div>
            <div class="col-md-3"><%= image_tag "epa.png" %></div>
            <div class="col-md-3"><%= image_tag "state-of-oregon.png" %></div>
            <div class="col-md-3"><%= image_tag "western-university.png" %></div>
          </div>
          <div class="row around-md">
            <div class="col-md-3"><%= image_tag "california-wildlife.png" %></div>
            <div class="col-md-3"><%= image_tag "port-of-seattle.png" %></div>
            <div class="col-md-3"><%= image_tag "oil-spill-taskforce.png" %></div>
            <div class="col-md-3"><%= image_tag "city-of-bellingham.png" %></div>
          </div>
          <div class="row between-md">
            <div class="col-md-3"><%= image_tag "university-of-washington.png" %></div>
            <div class="col-md-3"><%= image_tag "northwest-straits.png" %></div>
            <div class="col-md-3"><%= image_tag "city-of-seattle.png" %></div>
            <div class="col-md-3"><%= image_tag "washington-state-university.png" %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container blockquote-container">
      <div class="row center-md middle-md">
        <div class="row center-sm veda-quote">
          <div class="col-md-12">
            <blockquote>One of the most informative public meetings I have ever attended... They did an excellent job.</blockquote>
          </div>
        </div>
        <div class="row center-sm">
          <div class="col-md-8 author">- Robert Lee, Workshop Participant, Port Angeles</div>
        </div>
      </div>
    </div>
</div>
