---
title: The Veda Way
---

<div class="row center-md the-veda-way">
  <div class="col-md-12 col-sm-12 container">

  <div class="row center-md center-xs middle-md">
    <div class="col-md-10 col-sm-12">
      <div class="row center-xs ">
        <div class="col-md-8 col-xs-12">
          <h1 class="title page-title">
            <cms:editable name="page_title">
              The Veda Way
            </cms:editable>
          </h1>
        </div>
      </div>
      <div class="row center-sm center-xs">
        <div class="col-md-12 col-xs-11">
            <p class="title-description">
              <cms:editable name="page_description" type="text">
                We help our clients, their key stakeholders, and their constituencies understand complex environmental issues, forge common purpose, and formulate practical, coherent policies so they can build prosperous and sustainable futures together. It’s essentially a plug-and-play process that we can adapt to solve any problem.
              </cms:editable>
              <span class="bold">Here’s how it works:</span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="process-section">
    <div class="row center-md center-xs between-md middle-md process">
      <div class="col-md-5 col-xs-12">
        <div class="featured-image">
          <%= image_tag "situation.svg" %>
        </div>
      </div>
      <div class="col-md-2 col-xs-2 number">
        <%= image_tag "number-one.svg" %>
      </div>
      <div class="col-md-5 col-sm-12 process-description">
        <h3><span class="hide-for-desktop">1. </span>Situation</h3>
          <p>A deep dive into understanding all that is at play, what’s at stake, who is impacted, and possible solutions.</p>
          <ul>
            <li>Ask lots of questions</li>
            <li>Interview stakeholders</li>
            <li>Review research data</li>
            <li>Research similar projects in the community</li>
            <li>Interview other professionals</li>
          </ul>
      </div>
    </div>

    <div class="row center-md center-xs between-md middle-md process reverse-group">
      <div class="col-md-5 col-sm-12 process-description">
          <h3><span class="hide-for-desktop">2. </span>Design</h3>
            <p>We head back to Veda world headquarters to brainstorm ideas on what the solution should look like.</p>
            <ul>
              <li>Think and brainstorm</li>
              <li>Create flow charts</li>
              <li>Collaborate with other people</li>
              <li>Write the Action Plan</li>
              <li>Share our recommendations with the client</li>
            </ul>
      </div>
      <div class="col-md-1 col-xs-2 number">
        <%= image_tag "number-two.svg" %>
      </div>
      <div class="col-md-5 col-xs-12">
        <div class="featured-image">
          <%= image_tag "design.svg" %>
        </div>
      </div>
    </div>

    <div class="row center-md between-md middle-md center-xs process">
      <div class="col-md-5 col-xs-12">
        <div class="featured-image">
          <%= image_tag "action.svg" %>
        </div>
      </div>
      <div class="col-md-1 col-xs-2 number">
        <%= image_tag "number-three.svg" %>
      </div>
      <div class="col-md-5 ccol-sm-12 process-description">
          <h3><span class="hide-for-desktop">3. </span>Action</h3>
            <p>Do the work that we agreed to do in step 2.</p>
            <ul>
              <li>Facilitate meetings where groups large or small discuss the problem and share ideas with Veda at the helm</li>
              <li>Hold town hall meetings where communities come together to hear information and ask questions</li>
              <li>Publish information via websites, handouts, posters, signage, etc.</li>
            </ul>
      </div>
    </div>

    <div class="row center-md center-xs between-md middle-md process reverse-group">
      <div class="col-md-5 col-xs-12 process-description">
        <h3><span class="hide-for-desktop">4. </span>Outcome</h3>
          <p>Provide a practical “go forward” plan that will have positive impact for the original issue.</p>
          <p>
          <ul>
            <li>Compile all the learnings into a final report</li>
            <li>Define how to move forward, who needs to do what, and who made what commitments</li>
            <li>People who weren’t working together before are now collaborating to solve problems</li>
            <li>The environment is healthier</li>
            <li>Communities of people feel heard and seen</li>
          </ul>
          </p>
        <div class="col-md-8">
          <a href="/our-work.php" class="btn-veda-way btn-primary">See the fruits of our labor</a>
        </div>
      </div>
      <div class="col-md-1 col-xs-2 number">
        <%= image_tag "number-four.svg" %>
      </div>
      <div class="col-md-5 col-xs-12">
        <div class="featured-image">
          <%= image_tag "outcome.svg" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row section-border"></div>

  <div class="row center-md services-section" id="services">
    <div class="row center-md">
      <div class="col-md-12 col-xs-12">
        <h1 class="title-left">
          <cms:editable name="services_title">
            Services We Provide
          </cms:editable>
        </h1>
      </div>
    </div>

      <div class="col-md-12 col-xs-12" >
        <div class="row center-md middle-md service" id="training">
          <div class="col-sm-2 ">
            <%= image_tag "apple.svg" %>
          </div>
          <div class="col-sm-10 col-xs-12">
            <h4><cms:editable name="training_title" order="1">Training</cms:editable></h4>
            <p>
              <cms:editable name="training_description" type="text"order="2">
              Successful meetings, workshops and events rarely happen by chance. Our professional team of facilitators helps ensure success through careful research, planning and design. From there, we bring our well-oiled facilitation skills to guide group conversations and efforts that achieve consensus on priority actions to move important issues forward.
              </cms:editable>
            </p>
            <a href="/our-work.php?category=training#work-examples">See some examples</a>
          </div>
        </div>

        <div class="row center-md middle-md service" id="facilitation">
          <div class="col-sm-2 ">
            <%= image_tag "facilitation.svg" %>
          </div>
          <div class="col-sm-10 col-xs-12">
            <h4><cms:editable name="facilitation_title" order="3">Facilitation</cms:editable></h4>
            <p>
              <cms:editable name="facilitation_description" type="text" order="4">
              Successful meetings, workshops and events rarely happen by chance. Our professional team of facilitators helps ensure success through careful research, planning and design. From there, we bring our well-oiled facilitation skills to guide group conversations and efforts that achieve consensus on priority actions to move important issues forward.
              </cms:editable>
            </p>
            <a href="/our-work.php?category=facilitation#work-examples">See some examples</a>
          </div>
        </div>

        <div class="row center-md middle-md service" id="public-outreach">
          <div class="col-sm-2">
            <%= image_tag "public-outreach.svg" %>
          </div>
          <div class="col-sm-10 col-xs-12">
            <h4>
              <cms:editable name="public_outreach_title" order="5">
                Public Outreach
              </cms:editable>
            </h4>
            <p>
                <cms:editable name="public_outreach_description" type="text" order="6">
                We help build public outreach processes and products that engage citizens and businesses so that projects have the public’s support and buy-in right from the beginning.
              </cms:editable>
            </p>
            <a href="/our-work.php?category=public-outreach#work-examples">See some examples</a>
          </div>
        </div>

        <div class="row center-md middle-md service" id="strategic-planning">
          <div class="col-sm-2 ">
            <%= image_tag "strategic-planning.svg" %>
          </div>
          <div class="col-sm-10 col-xs-12">
            <h4>
              <cms:editable name="strategic_planning_title" order="7">
                Strategic Planning
              </cms:editable>
            </h4>
            <p>
              <cms:editable name="strategic_planning_description" type="text" order="8">
                We guide public, private, tribal and non-profit organizations through thoughtful, engaging, and fun planning processes that build relationships and advance important efforts.
              </cms:editable>
            </p>
            <a href="/our-work.php?category=strategic-planning#work-examples">See some examples</a>
          </div>
        </div>

        <div class="row center-md middle-md service" id="stakeholder-engagement">
          <div class="col-sm-2">
            <%= image_tag "stakeholder-engagement.svg" %>
          </div>
          <div class="col-sm-10 col-xs-12">
            <h4>
              <cms:editable name="stakeholder_title" order="9">
                Stakeholder Engagement
              </cms:editable>
            </h4>
            <p>
              <cms:editable name="stakeholder_description" type="text" order="10">
                We are experienced at stakeholder mapping to identify essential stakeholders for key topics and issues. We then design processes that engage them appropriately to ensure voices are heard and key entities are included.
              </cms:editable>
            </p>
            <a href="/our-work.php?category=stakeholder-engagement#work-examples">See some examples</a>
          </div>
        </div>

        <div class="row center-md middle-md service" id="science-education">
          <div class="col-sm-2">
            <%= image_tag "science-comm.svg" %>
          </div>
          <div class="col-sm-10 col-xs-12">
            <h4>
              <cms:editable name="science_education_title" order="11">
                Science Communication and Education
              </cms:editable>
            </h4>
            <p>
              <cms:editable name="science_education_description" type="text" order="12">
                We translate from the science to the English by working with scientists, technical experts and resource managers to communicate technical information that is meaningful and actionable for decision-makers, planners and the public.
              </cms:editable>
            </p>
            <a href="/our-work.php?category=science-education#work-examples">See some examples</a>
          </div>
        </div>

        <div class="row center-md middle-md service" id="workshop-planning">
          <div class="col-sm-2">
            <%= image_tag "workshop-planning.svg" %>
          </div>
          <div class="col-sm-10 col-xs-12">
            <h4>
              <cms:editable name="workshop_planning_title" order="13">
                Workshop Planning
              </cms:editable>
            </h4>
              <p>
                <cms:editable name="workshop_planning_description" type="text" order="14">
                  We design workshops that deliver. How? By focusing on the key ingredients:  a solid outcome-oriented agenda, detailed preparation, seamless orchestration, and comprehensive follow-up.
                </cms:editable>
              </p>
            <a href="/our-work.php?category=workshop-planning#work-examples">See some examples</a>
          </div>
        </div>
    </div>

  </div>

  <div class="row middle-md on-a-mission">
    <div class="row section-border"></div>
    <div class="col-xs-12">
      <div class="row center-md middle-md center-xs middle-xs on-a-mission-content">
        <div class="col-md-5 col-xs-12">
          <div class="featured-image">
            <%= image_tag "on-a-mission.png" %>
          </div>
        </div>

        <div class="col-md-5 col-xs-12 on-a-mission-description">
            <h1 class="title-left">
              <cms:editable name="on_a_mission_title" order="15">
                On a Mission
              </cms:editable>
            </h1>

            <div class="title-description body-text">
              <cms:editable name="on_a_mission_description" type="richtext" order="16">
                <p>At Veda, we are passionate about tackling the daunting environmental challenges of our time: addressing climate change, protecting and restoring habitat and species at risk, preventing oil spills, and cleaning up stormwater.</p>

                <p>We know from experience that solving complex natural resource challenges depends on thoughtful and skillful collaboration across political, social, economic and geographic boundaries. Right up our alley!</p>
              </cms:editable>
            </div>
        </div>
      </div>
    </div>
    <div class="row section-border"></div>
  </div>

  <div class="row center-sm center-xs veda-quote blockquote-container">
    <div class="col-md-10 col-xs-12">
      <blockquote><cms:editable name="quote" order="17">I rely on Sarah and Hilary extensively and their work has been excellent and above expectations.</cms:editable></blockquote>
    </div>

    <div class="row center-sm center-xs">
      <div class="col-md-8 col-sm-8 col-xs-10 author"><p class="author title">- <cms:editable name="quote_author" order="18">Curtis Hinman, Director, WSU Puyallup Research and Extension Center</cms:editable></p></div>
       
    </div>

  </div>
  </div>

</div>
