---
title: The Veda Way
---

<div class="row center-md the-veda-way">
  <div class="row center-md middle-md">
    <div class="col-md-10">
      <div class="row center-sm">
        <div class="col-md-8">
          <h1 class="title">The Veda Way.</h1>
        </div>
      </div>
      <div class="row center-sm">
        <div class="col-md-11">
          <p class="title-description">We help our clients, their key stakeholders, and their constituencies understand complex environmental issues, forge common purpose, and formulate practical, coherent policies so they can build prosperous and sustainable futures together. It’s essentially a plug-and-play process that we can adapt to solve any problem. <span class="">Here’s how it works:</span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="process-section bottom-border">
    <div class="row center-md middle-md process">
      <div class="col-md-5">
        <div class="featured-image">
          <%= image_tag "situation.svg" %>
        </div>
      </div>
      <div class="col-md-2 number">
        <%= image_tag "number-one.svg" %>
      </div>
      <div class="col-md-5 process-description">
          <h3>Situation</h3>
          <p>A deep dive into understanding all that is at play, what’s at stake, who is impacted, and possible solutions.</p>
          <ul>
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
          </ul>
      </div>
    </div>

    <div class="row center-md middle-md process">
      <div class="col-md-5 process-description">
          <h3>Design</h3>
          <p>We head back to Veda world headquarters to brainstorm ideas on what the solution should look like.</p>
          <ul>
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
          </ul>
      </div>

      <div class="col-md-1 number">
        <%= image_tag "number-two.svg" %>
      </div>

      <div class="col-md-5">
        <div class="featured-image">
          <%= image_tag "design.svg" %>
        </div>
      </div>
    </div>

    <div class="row center-md middle-md process">
      <div class="col-md-5">
        <div class="featured-image">
          <%= image_tag "action.svg" %>
        </div>
      </div>
      <div class="col-md-1 number">
        <%= image_tag "number-three.svg" %>
      </div>
      <div class="col-md-5 process-description">
          <h3>Action</h3>
          <p>A deep dive into understanding all that is at play, what’s at stake, who is impacted, and possible solutions.</p>
          <ul>
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
          </ul>
      </div>
    </div>

    <div class="row center-md middle-md process">
      <div class="col-md-5 process-description">
        <h3>Outcome</h3>
        <p>A deep dive into understanding all that is at play, what’s at stake, who is impacted, and possible solutions.</p>
        <ul>
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
        </ul>
        <div class="col-md-8">
          <a href="" class="btn-veda-way btn-primary">See the fruits of our labor</a>
        </div>
      </div>
      <div class="col-md-1 number">
        <%= image_tag "number-four.svg" %>
      </div>
      <div class="col-md-5">
        <div class="featured-image">
          <%= image_tag "outcome.svg" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row center-md services-section bottom-border">
    <div class="row center-md">
      <div class="col-md-12">
        <h1 class="title-left">Services We Provide</h1>
      </div>
    </div>

      <div class="col-md-12">
        <div class="row center-md middle-md service">
          <div class="col-md-2">
            <%= image_tag "facilitation.svg" %>
          </div>
          <div class="col-md-10">
            <h4>Facilitation</h4>
            <p>Successful meetings, workshops and events rarely happen by chance. Our professional team of facilitators helps ensure success through careful research, planning and design. From there, we bring our well-oiled facilitation skills to guide group conversations and efforts that achieve consensus on priority actions to move important issues forward.</p>
            <a href="">See some examples</a>
          </div>
        </div>

        <div class="row center-md middle-md service">
          <div class="col-md-2">
            <%= image_tag "public-outreach.svg" %>
          </div>
          <div class="col-md-10">
            <h4>Public Outreach</h4>
            <p>We help build public outreach processes and products that engage citizens and businesses so that projects have the public’s support and buy-in right from the beginning.</p>
            <a href="">See some examples</a>
          </div>
        </div>

        <div class="row center-md middle-md service">
          <div class="col-md-2">
            <%= image_tag "strategic-planning.svg" %>
          </div>
          <div class="col-md-10">
            <h4>Strategic Planning</h4>
            <p>We guide public, private, tribal and non-profit organizations through thoughtful, engaging, and fun planning processes that build relationships and advance important efforts. </p>
            <a href="">See some examples</a>
          </div>
        </div>

        <div class="row center-md middle-md service">
          <div class="col-md-2">
            <%= image_tag "stakeholder-engagement.svg" %>
          </div>
          <div class="col-md-10">
            <h4>Stakeholder Engagement</h4>
            <p>We are experienced at stakeholder mapping to identify essential stakeholders for key topics and issues. We then design processes that engage them appropriately to ensure voices are heard and key entities are included.</p>
            <a href="">See some examples</a>
          </div>
        </div>

        <div class="row center-md middle-md service">
          <div class="col-md-2">
            <%= image_tag "science-comm.svg" %>
          </div>
          <div class="col-md-10">
            <h4>Science Communication and Education</h4>
            <p>We translate from the science to the English by working with scientists, technical experts and resource managers to communicate technical information that is meaningful and actionable for decision-makers, planners and the public.</p>
            <a href="">See some examples</a>
          </div>
        </div>

        <div class="row center-md middle-md ">
          <div class="col-md-2">
            <%= image_tag "workshop-planning.svg" %>
          </div>
          <div class="col-md-10">
            <h4>Workshop Planning</h4>
            <p>We design workshops that deliver. How? By focusing on the key ingredients:  a solid outcome-oriented agenda, detailed preparation, seamless orchestration, and comprehensive follow-up. </p>
            <a href="">See some examples</a>
          </div>
        </div>
    </div>

  </div>

  <div class="row middle-md on-a-mission bottom-border">
    <div class="row center-md middle-md">
      <div class="col-md-5">
        <div class="featured-image">
          <%= image_tag "on-a-mission.svg" %>
        </div>
      </div>

      <div class="col-md-5 on-a-mission-description">
          <h1 class="title-left">On a Mission</h1>

          <div class="body-text">
            <p>At Veda, we are passionate about tackling the daunting environmental challenges of our time: addressing climate change, protecting and restoring habitat and species at risk, preventing oil spills, and cleaning up stormwater.</p>

            <p>We know from experience that solving complex natural resource challenges depends on thoughtful and skillful collaboration across political, social, economic and geographic boundaries. Right up our alley!</p>
          </div>
      </div>
    </div>
  </div>

  <div class="row center-sm veda-quote blockquote-container">

    <div class="col-md-9">
      <blockquote>I rely on Sarah and Hilary extensively and their work has been excellent and above expectations.</blockquote>
    </div>

    <div class="row center-sm">
      <div class="col-md-8 author"><p class="author">- Curtis Hinman, Director, WSU Puyallup Research and Extension Center</p></div>
    </div>

  </div>

</div>
